main {
  margin-top: 1rem;
}

.todo-cards {
  display: flex;
  flex-wrap: wrap;
}

.card-body {
  padding: 0;
}

.card-title,
.card-text {
  padding: 0.25rem 0.75rem;
}

.card-title {
  margin-bottom: 0;
  line-height: 2rem;
  font-size: 1.2rem;
}

.card-text {
  font-size: .875rem;
}

.card-footer {
  background-color: inherit;
  padding: 0;
  display: flex;
  justify-content: space-between;
  border-top: none;

  .btn-light {
    font-size: 0.875rem;
    padding: .25rem .5rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
  }
}

.select-button {
  position: absolute;
  background-color: #333;
  color: white;
  border-radius: 50%;
  width: 1.4rem;
  text-align: center;
  line-height: 1.4rem;
  top: -0.5rem;
  left: -0.5rem;
  cursor: pointer;
  opacity: 0;
  transition: 200ms;
}

.todo-card-action {
  color: #333;
  padding: 0.2rem;
  background-color: transparent;
  border: 1px solid transparent;
  text-align: center;
  line-height: 1.2rem;
  font-size: 1.2rem;
  margin: 2px;

  &:hover {
    color: blue;
  }

  &:not(:first-of-type) {
    margin-left: 0.5rem;
  }
}

.todo-card {
  position: relative;
  color: #4c4c4c;
  margin: 0.5rem;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);

  &:hover {
    opacity: 1;
    box-shadow: 0 .25rem 1rem rgba(0, 0, 0, .15);

    .select-button {
      opacity: 1;
      display: inline;
    }

    .todo-card-action {
      display: inline;
    }
  }

  &.is-editing {
    box-shadow: 0 0.125rem 10rem 10px rgba(0, 0, 0, 0.075);

    .card-title {
      color: black;
    }

    .card-text {
      color: black;
      font-weight: 500;
    }
  }

  &.is-checked {
    color: blue;

    .select-button {
      background-color: blue;
      display: inline;
      opacity: 1;
    }
  }
}

input,
textarea {
  border: none;
}

// new todo
.new-todo-card {
  margin: .5rem auto 1rem auto;
  flex-direction: row;
  max-width: 500px;
}

.new-todo-content {

  &:focus,
  &:active {
    background-color: white;
    z-index: 10;
  }
}

.new-todo-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 200px;
}

.new-todo-menu {
  display: flex;
  justify-content: space-between;
}

.new-todo-text {
  font-size: .875rem;
  padding: 0.25rem 0.5rem;
  line-height: 1.5rem;
  outline: none;

  ul {
    margin-bottom: 0.25rem;
    padding-inline-start: 1.3rem;
  }
}

.card-text,
.new-todo-text {
  ul {
    margin-bottom: 0.25rem;
    padding-inline-start: 1.3rem;
  }
}

.new-todo-title {
  font-weight: bold;
  color: black;
}

.todo-placeholder {
  font-weight: bold;
  color: grey;
  pointer-events: none;
}

.todo-icon-button {
  padding: 2px 5px;
  font-size: 1.4rem;
  line-height: 1;
}

.bullets-active {
  color: orange;
}

.color-button {
  border: 1px solid transparent;
  padding: 0.15rem 0.25rem;
  border-radius: 50%;
  overflow: hidden;
  height: 1.5rem;
  width: 1.5rem;
  margin: 2px;
  cursor: pointer;

  &:hover {
    border-color: #bababa !important;
  }
}

.color-options {
  display: inline-flex;
  flex-wrap: wrap;
  position: absolute;
  background-color: white;
  padding: 2px;
  bottom: 2.3rem;
  visibility: hidden;
  width: 100px;
  transition: 200ms;
  opacity: 0;

  &.shown {
    visibility: visible;
    opacity: 1;
  }
}

.create-todo-actions {
  display: flex;
  justify-content: space-around;

}

.create-todo-button {
  padding: 0.5em;
}